.vscode/settings.json
.idea/misc.xml
.idea/modules.xml
.idea/u2020.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/*
*.pyc
17/astro.jpg_resized
17/con/astro_resized.png
17/image-playground/thambnail.jpg
17/image-playground/converted/bulbasaur_converted.png
17/image-playground/converted/charmander_converted.png
17/image-playground/converted/pikachu_converted.png
17/image-playground/converted/squirtle_converted.png
17/image-playground/converted/thambnail_converted.png
17/u2020system.py
17/pdf-playground/dummy.pdf
17/pdf-playground/super.pdf
17/pdf-playground/wtr_pages
17/ztmbot/bot_settings.py
17/sms_settings.py
speech_rec/OSR_us_000_0018_8k.wav
